<Section class="padding-sidebar">
  <form action="/filter" method="post" id="filters">
    <h1>Filter</h1>

    <h2>Geslacht</h2>
    <label class="container">Man
      <input type="radio" value="man" name="geslacht" />
      <span class="checkmark"></span>
    </label>
    <label class="container">Vrouw
      <input type="radio" value="vrouw" name="geslacht" />
      <span class="checkmark"></span>
    </label>

    <h2>Leeftijd</h2>
    <div class="slidecontainer">
      <input
        type="range"
        min="1"
        max="100"
        value="50"
        class="slider"
        id="myRange"
      />
      <p> <span id="demo"></span></p>
    </div>

    <details>
      <summary>Interesses</summary>
      <label class="container">Fortnite
        <input type="radio" name="interesses" value="fortnite" />
        <span class="checkmark"></span>
      </label>
      <label class="container">Minecraft
        <input type="radio" name="interesses" value="minecraft"/>
        <span class="checkmark"></span>
      </label>
      <label class="container">vortage
        <input type="radio" name="interesses" value="vortage" />
        <span class="checkmark"></span>
      </label>
      <label class="container">Jentlegarden
        <input type="radio" name="interesses" value="jentlegarden" />
        <span class="checkmark"></span>
      </label>
    </details>

    <details>
      <summary>Platform</summary>
      <label class="container">Discord
        <input type="radio" name="platform" value="discord" />
        <span class="checkmark"></span>
      </label>
      <label class="container">Skype
        <input type="radio" name="platform" value="skype" />
        <span class="checkmark"></span>
      </label>
      <label class="container">Playstation
        <input type="radio" name="platform" value="playstation" />
        <span class="checkmark"></span>
      </label>
      <label class="container">Xbox
        <input type="radio" name="platform" value="xbox" />
        <span class="checkmark"></span>
      </label>
    </details>
    <button class="opslaan" type="submit">Opslaan</button>
  </form>
</Section>