<section class="emptyMatches">
    <h2>It seems like you havent gotten any matches yet. </h2>
    <img src="public/images/sad_logo.svg" alt="">
     <h3>Go to the swiping page to get potential matches!</h3>