<section class="likeDislike">
    <form class="form-dislike" method="POST" action="/dislike/{{data.0._id}}">

        <button class="dislike">
            <img src="../images/dislike.svg" alt="" />
        </button>

    </form>

    <form class="form-like" method="POST" action="/like/{{data.0._id}}">

        <button class="like">
            <img src="../images/like.svg" alt="">
        </button>

    </form>
</section>