<nav>

  <ul class="navUl">
    <li></li>
    <li><a href="/profile">profile</a></li>
    <li><a href="/matches">matches</a></li>
    <li><a href="/">seeker</a></li>

  </ul>

</nav>
{{!-- <div id="navShader"></div> --}}