

<label class="smallCardLabel">
    

    <section class="cardContainer">
        <section class="actionOverlay">
            <img src="/images/overlayLike.svg" alt="">
        </section>

        <section class="smallCardFront">
            <picture>
          
                <img src="/images/user-image1.jpg" alt="" />
            </picture>

            <article>
                <h1>Frederick Friemel</h1>
              <p>Urk</p>
                <ul>

                    <li>kaas</li>
                    <li>ham</li>
                    <li>honing</li>
                </ul>

                
            </article>
        </section>

    </section>

</label>

