<body id="loginpage">

    <main>
        <section>
            <h2>Login</h2>

            <form id="login-form" action="/login/done" method="POST" enctype="multipart/form-data">
                <label for="email">Email</label>
                <input type="text" id="email" name="email" placeholder="Email@dievanjou.nl" required>

                <label for="password">Password</label>
                <input type="password" id="password" name="password" placeholder="● ● ● ● ●" required>

                <input id="LoginButton" type="submit" value="Login" href="index.hbs">
            </form>

            <section>
                <h3>No account?</h3>
                <a href="login/register">Sign up here</a>
            </section>

            <article>
                <p>
                    When you use our services, you're trusting us with your
                    information. We understand this is a big responsibility
                    and work hard to protect your information and put you in
                    control.
                </p>
            </article>

        </section>

    </main>
</body>
<script src="../public/js/login.js"></script>