{{!-- <header>
    {{>navBar}}
</header> --}}
<main>
    <article class="sideBar">
         {{>filter}}
    </article>
    <article>
        {{#if isMatched}}
            {{>matchPopup}}
        {{/if}}
        <section>
            {{>largeCard}}
        </section>
        {{>likeDislike}}
    </article>
</main>
{{>background}}
