
  <header>
    {{>navBar}}
  </header>
<main>
    <article class="sideBar">
         {{>filter}}
    </article>
    <article>
        {{#if isMatched}}
            {{>matchPopup}}
        {{/if}}
        {{#if data.length}}
        <section>
            {{>largeCard}}
        </section>
        {{>likeDislike}}
        {{else}}
        <section class="funnyQuote">

            <h1>Damn, a bit too specific perhaps?</h1>

        </section>
        {{/if}}

    </article>
</main>
{{>background}}
