<main>
    <article class="sideBar">

    </article>
    <article>
        {{#if isMatched}}
            {{>matchPopup}}
        {{/if}}
        {{>largeCard}}
        {{>likeDislike}}
    </article>
</main>