
<main>
    <article class="sideBar">

    </article>
    <article>
        {{#if isMatched}}
            {{>matchPopup}}
        {{/if}}
        <section>
            {{>largeCard}}
        </section>
        {{>likeDislike}}
    </article>
</main>

