<main>
    <article class="matchesSideBar">
        <img class="icon" src="images/placeholder_icon.png" alt="">
        <h1 class="matchTitle">Matches</h1>
<ul>
    {{>matchInfo}}
      {{>matchInfo}}
</ul>
    </article>
    <article>
        <ul class="smallCards">
            <li> {{>smallCard}} </li>
            <li> {{>smallCard}} </li>
            <li> {{>smallCard}} </li>
            <li> {{>smallCard}} </li>
            <li> {{>smallCard}} </li>
            <li> {{>smallCard}} </li>
            <li> {{>smallCard}} </li>
            <li> {{>smallCard}} </li>
            <li> {{>smallCard}} </li>
        </ul>
    </article>
</main>