<section class="profilePage">
    <form action="" method="post" enctype="multipart/form-data">
        <div>
            <div class="avatarUploadField">
                <img src="images/profile/NoAvatar.jpg" alt="">
                <img src="images/profile/workaRoundFoto.jpg" alt="Eigen profielfoto" name="avatar" class="eigenAvatarfotoGr" onerror="this.style.display='none'">
                <img src="images/profile/uploadicon.svg" alt="" class="uploadFotoOverlay hidden">
                <input type="file" name="Avatar" accept=".jpeg,.jpg,.png" onchange="this.form.submit()">
            </div>
            <input type="text" id="formRoepnaam" name="Naam" value="" placeholder="Wat is je naam?">
            <h2>Over mij</h2>
            <div class="grow-wrap">
                <textarea id="formOmschrijving" name="omschrijving" placeholder="Vertel iets over jezelf" onInput="this.parentNode.dataset.replicatedValue = this.value"></textarea>
            </div>
        </div>
        <div>
            <h2>Persoonlijke informatie</h2>
            <label for="formLeeftijd">Leeftijd</label>
            <input type="text" id="formLeeftijd" name="Leeftijd" value="" placeholder="Laat potentiele matches weten hoe oud je bent">
            <label for="formPlaats">Plaats</label>
            <input type="text" id="formPlaats" name="Plaats" value="" placeholder="plaatsnaam">
            <label for="formLengte">Lengte</label>
            <input type="number" id="formLengte" name="Lengte" value="" min="100" max="250">
            <h2>Interesses</h2>
            <h2>Tags</h2>
        </div>
        <div>
            <h2>Platforms</h2>
        </div>
    </form>
</section>

