
html {
    /* firefox fix */
    scrollbar-color: #FF8580 #FFD6D1;
    scrollbar-width: thin;
}

::-webkit-scrollbar {
    width: 0.5em;  

}
  
::-webkit-scrollbar-track {
    background: #FFD6D1; 
 
}
  
::-webkit-scrollbar-thumb {
    background-color: #FF8580;
}


.matchMain{
    display: flex;
 
    align-items: flex-start;

    width: 100%;
    height: 100vh;

    overflow: hidden;
}

.matchMain .sideBar > ul {
    margin-top: 14em;
    width: calc(35em - 10em);
}

.title {
    display: flex;
    align-items: center;
    width: 35em;
    height: 16em;
    position: fixed;
    top: 0;
    background: var(--primary2);
    padding-top: 2em;
    left: 0;
    padding-left: 3em;
}

.title::after {
    content: "";
    width: 100%;
    height: 2px;
    background-color: var(--detail);    
    bottom: 0;
    left: 0;
    position: absolute;
}

.title > img {
    width: 9em;
    height: 8em;
}

.matchesTitle {
    font-weight: bolder;
    font-size: 2.5em;
    padding-bottom: .1em;
}

ul.smallCards {
    overflow: scroll;
    overflow-x: hidden;

    /* firefox fix */
    scrollbar-width: thin;
    
    width: 100%;
    height: 100%;
}
ul.smallCards > li {
   
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 3em;
    margin-top: 10em;
  
}
#shadowBox {
    background: linear-gradient(180deg, rgba(72,0,56,0) 33%, rgba(72,0,56,0.6) 100%);
    width: 100%;
    z-index: 1;
    height: 80px;
    position: fixed;
    bottom: 0;
}