/* styling here */

body {
    width: 100vw;
    height: 100vh;
}

main {
    /* display: grid;
    place-items: center; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100%;

}

/*********/
/* cards */
/*********/

main > article {
    width: min(90%, 20em);
    /* height: clamp(30em, 30em, 60%); */
    max-height: 70%;
    aspect-ratio: 1/1.7;
    position: relative;
}

/* container */
.cardLabel {
    position: absolute;
    display: inline-block;
    width: 100%;
    height: 100%;
    background: transparent;
}

.cardLabel:first-of-type {
    z-index: 1;
}

.flipBtn {
    position: absolute;
    display: none;
}

.flipBtn:checked ~ .cardContainer {
    transform: rotateY(180deg);
}

.cardContainer {
    visibility: visible;
    width: 100%;
    height: 100%;
    position: absolute;
    transition: transform 0.8s;
    transform-style: preserve-3d;
    z-index: -1;
}

/* bugfix specifically for firefox */
@-moz-document url-prefix() {
    .cardContainer {
        backface-visibility: hidden;
    }
}

.cardFront, .cardBack {
    width: 100%;
    height: 100%;
    position: absolute;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.cardBack {
    background: blue;
    transform: scaleX(-1);
}

.cardFront {
    background: red;
    backface-visibility: hidden;
}

.cardFront > picture {
    width: calc(100% - 2em);
    margin-top: 1em;
    display: block;
}

.cardFront > picture > img {
    width: 100%;
    object-fit: cover;
}